
<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">  
</head>
   <body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Pie Chart</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('table') }}">Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('gd') }}">Goal Difference of Arsenel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('jd') }}">Goal Difference of ManCity </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="jumbotron">
            <h1 class="display-4">
          		{% if title %}
          		  {{ title }}
          		{% else %}
          		  Default title
          		{% endif %}
	    </h1>
        </div>
    </div>
  <div>
      {{table | safe}}
  </div>

   </body>
</html>